h1 Пользователь
strong
p Name:
p = @user.name
strong
p Email:
p = @user.email
p = link_to 'Редактирование', edit_admin_user_path(@user), :class => 'btn btn-warning'
p = link_to 'Удалить', admin_user_path, method: :delete, data: { confirm: 'Вы уверены?'}
p = link_to 'Назад', admin_users_path(@user),class: 'btn btn-outline-secondary'
time = @user.created_at.to_date.strftime('%d %B %Y')